$bg-primary: #415A4E;
$bg-secondary: #CBDBCD;
$color-primary: #fff;
$color-secondary: #000000;

$font-text: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


$breakpoints : (
    sm-mobile: 300px,
    sm-tablet: 600px,
    md-tablet: 768px,
    lg-tablet: 1000px,
    desktop: 2000px
);
